{include file='header'}
     <form id="searchForm" method="post" >
<div class="funcdiv">
	    <button class="layui-btn funcbutton" name="exportdata"  value="2" type="submit">导出Excel</button>
</div>
<div class="pageTitleTop">当前位置：日志管理 &raquo; 资产日志</div>
<div class="" style="margin:10px  0 10px 17px;">
        <input name="k" type="text" class="searchTopinput"  id="k" size="40"  placeholder="请输入用户、操作类型关键字"  value="{$keyword}"/>
          <i class="layui-icon layui-icon-search" style="font-size:18px; color: #1E9FFF;" onclick="$('form').submit();"></i> 
</div>
       </form>
{include file="log/table_details_p"}

{include file='footer'}
