<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<link href="{:RES}/css/global.css" rel="stylesheet" type="text/css"/>
<link href="{:RES}/css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{:RES}/js/jquery.1.7.2.min.js"></script>
<link href="{:RES}/js/mobiscroll/css/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css" />
<script src="{:RES}/js/mobiscroll/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{:RES}/js/layer/layer.js"></script>
<title>学习经历</title>
</head>

<body>
	<header>
        <div class="logo1"><img class="logo" src="{:RES}/images/logo.png"/></div>
    </header>
    <div class="center">
    <form>
    	<div class="info" style="margin-bottom: 2.9rem;">
        	<ul class="schoolList">
            	<li>
                    <h1>学习经历</h1>
                </li>
                {empty name="info"}
                <li class="list">
                	<ul>
                    	<li style="border:0">
                        	<div><i class="no">No.1</i>
                            <button type="button" class="addship">新增</button>
                            </div>
                        </li>
                    	<li>
                        	<span>入校年月<i class="i">*</i></span><input name="StartTime[]" type="text" class="datelist" placeholder="入校年月"/>
                        </li>
                        <li>
                        	<span>离校年月<i class="i">*</i></span><input name="EndTime[]" type="text" class="datelist" placeholder="离校年月"/>
                        </li>
                        <li>
                        	<span>学校名称<i class="i">*</i></span><input name="SchoolName[]" type="text" placeholder="学校名称"/>
                        </li>
                        <li>
                        	<span>专&emsp;&emsp;业<i class="i">*</i></span><input name="Major[]" type="text" placeholder="专业"/>
                        </li>
                        <li>
                        	<span>毕业证书</span>
                            <select name="IsDiploma[]">
                                {volist name="\think\Config::get('ISDIPLOMA')" id="v"}
                                <option value="{$v}">{$v}</option>
                                {/volist}
                            </select>
                        </li>
                        <li>
                        	<span>所获学历<i class="i">*</i></span>
                            <select name="EduRecord[]">
                            	<option value="">请选择</option>
                            	<volist name="\think\Config::get('EDURECORD')" id="v">
                                <option value="{$v}">{$v}</option>
                                </volist>
                            </select>
                        </li>
                    </ul>
                </li>
                {else}
                {volist name="info" id="vo" key="k"}
                <li class="list">
                	<ul>
                    	<li style="border:0">
                        	<div><i class="no">No.{$k}</i>
                            {eq name="k" value="1"}
									<button type="button" class="addship" id="addship" {eq name="length" value="3"}style="background:#ccc" disabled="disabled"{/eq}>新增</button>
								{else}
									<button type="button" class="delship" onclick="delSchool(this)">删除</button>
								{/eq}
                            </div>
                        </li>
                    	<li>
                        	<span>入校年月<i class="i">*</i></span><input name="StartTime[]" value="{$vo.StartTime}" type="text" class="datelist" placeholder="入校年月"/>
                        </li>
                        <li>
                        	<span>离校年月<i class="i">*</i></span><input name="EndTime[]" value="{$vo.EndTime}" type="text" class="datelist" placeholder="离校年月"/>
                        </li>
                        <li>
                        	<span>学校名称<i class="i">*</i></span><input name="SchoolName[]" value="{$vo.SchoolName}" type="text" placeholder="学校名称"/>
                        </li>
                        <li>
                        	<span>专&emsp;&emsp;业<i class="i">*</i></span><input name="Major[]" value="{$vo.Major}" type="text" placeholder="专业"/>
                        </li>
                        <li>
                        	<span>毕业证书</span>
                            <select name="IsDiploma[]">
                               {volist name="\think\Config::get('ISDIPLOMA')" id="v"}
                                <option value="{$v}" {eq name="v" value="$vo['IsDiploma']"}selected="selected"{/eq}>{$v}</option>
                                {/volist}
                            </select>
                        </li>
                        <li>
                        	<span>所获学历<i class="i">*</i></span>
                            <select name="EduRecord[]">
                            	<option value="">请选择</option>
                            	{volist name="\think\Config::get('EDURECORD')" id="v"}
                                <option value="{$v}" {eq name="v" value="$vo['EduRecord']"}selected="selected"{/eq}>{$v}</option>
                                {/volist}
                            </select>
                        </li>
                    </ul>
                </li>
                
                {/volist}
                {/empty}
            </ul>
            
        </div>
        </form>
        <div class="btn fixed">
            <input type="button" value="返回" class="btns prev w45 h23 fs12" /> <input
            type="button" id="save" value="保存" class="btns next w45 h23 fs12" /> 
		</div>
    </div>
</body>
<script src="{:RES}/js/common.js"></script>
<script>
$('#save').click(function(){
	var flag=0;
	$('.list').each(function(i){
		var StartTime=$('input[name="StartTime[]"]:eq('+i+')').val();
		if(StartTime==''){
			flag=1;
			return false;
		}
		var EndTime=$('input[name="EndTime[]"]:eq('+i+')').val();
		if(EndTime==''){
			flag=2;
			return false;
		}
		var SchoolName=$('input[name="SchoolName[]"]:eq('+i+')').val();
		if(SchoolName==''){
			flag=3;
			return false;
		}
		var Major=$('input[name="Major[]"]:eq('+i+')').val();
		if(Major==''){
			flag=4;
			return false;
		}
		var IsDiploma=$('select[name="IsDiploma[]"]:eq('+i+')').val();
		if(IsDiploma==''){
			flag=5;
			return false;
		}
		var EduRecord=$('select[name="EduRecord[]"]:eq('+i+')').val();
		if(EduRecord==''){
			flag=6;
			return false;
		}
	})
	if(flag==1){
		_alert('请输入入校年月')
		return false;
	}
	if(flag==2){
		_alert('请输入离校年月')
		return false;
	}
	if(flag==3){
		_alert('请输入学校名称')
		return false;
	}
	if(flag==4){
		_alert('请输入专业')
		return false;
	}
	if(flag==5){
		_alert('请选择是否有毕业证书')
		return false;
	}
	if(flag==6){
		_alert('请选择学历')
		return false;
	}
	btnStyle(0);
	var url="save";
	var data=$('form').serialize();
	$.post(url,data,function(res){
		_alert(res.info);
		if(res.status==true){
			setTimeout(function(){
				window.location.href="myCenter";
			},2000)
		}else{
			btnStyle(1);
		}
	})
	
})
$(function () {
	$('.datelist').mobiscroll().date({
		theme: '',      // Specify theme like: theme: 'ios' or omit setting to use default
		lang: 'zh',    // Specify language like: lang: 'pl' or omit setting to use default
		display: 'modal',  // Specify display mode like: display: 'bottom' or omit setting to use default
		dateFormat: 'yyyy-mm',
		mode: 'scroller'        // More info about mode: http://docs.mobiscroll.com/2-17-1/datetime#!opt-mode
	}); 
});
$('.addship').click(function(){
	var i=$('.list').length; 
		i=i+1;
	var content='<li class="list">';
        content+='<ul>';
        content+='<li style="border:0">';
        content+='<div><i class="no">No.'+i+'</i>';
        content+='<button type="button" class="delship" onclick="delSchool(this);">删除</button>';
        content+='</div>';
        content+='</li>';
        content+='<li>';
        content+='<span>入校年月<i class="i">*</i></span><input name="StartTime[]" type="text" class="datelist" placeholder="入校年月"/>';
        content+='</li>';
        content+='<li>';
        content+='<span>离校年月<i class="i">*</i></span><input name="EndTime[]" type="text" class="datelist" placeholder="离校年月"/>';
        content+='</li>';
        content+='<li>';
        content+='<span>学校名称<i class="i">*</i></span><input name="SchoolName[]" type="text" placeholder="学校名称"/>';
        content+='</li>';
        content+='<li>';
        content+='<span>专&emsp;&emsp;业<i class="i">*</i></span><input name="Major[]" type="text" placeholder="专业"/>';
        content+='</li>';
        content+='<li>';
        content+='<span>毕业证书</span>';
        content+='<select name="IsDiploma[]">';
        {volist name="\think\Config::get('ISDIPLOMA')" id="v"}
        content+='<option value="{$v}">{$v}</option>';
        {/volist}
        content+='</select>';
        content+='</li>';
        content+='<li>';
        content+='<span>所获学历<i class="i">*</i></span>';
		content+='<select name="EduRecord[]">';
        content+='<option value="">请选择</option>';
        {volist name="\think\Config::get('EDURECORD')" id="v"}
        content+='<option value="{$v}">{$v}</option>';
        {/volist}
        content+='</select>';
        content+='</li>';
        content+='</ul>';
        content+='</li>';
	$('.info .schoolList').append(content);
	$(function () {
		$('.datelist').mobiscroll().date({
			theme: '',      // Specify theme like: theme: 'ios' or omit setting to use default
			lang: 'zh',    // Specify language like: lang: 'pl' or omit setting to use default
			display: 'modal',  // Specify display mode like: display: 'bottom' or omit setting to use default
			dateFormat: 'yyyy-mm',
			mode: 'scroller'        // More info about mode: http://docs.mobiscroll.com/2-17-1/datetime#!opt-mode
		}); 
	});
	if(i>=3){
		$(this).attr('disabled',true);
		$(this).css('background','#ccc');
	}
})

function delSchool(obj){
	$(obj).parents('.list').remove();
	var i=$('.list').length; 
	if(i<3){
		$('.addship').attr('disabled',false);
		$('.addship').css('background','#48b536');
	}
	$('.no').each(function(i) {
		i++;
        $(this).html('No.'+i);
    });	
}
</script>
</html>
