
<div class="layui-row  layui-bg-cyan layui_footer">
	<div class="layui-col-md1 layui-col-md-offset2" style="padding: 20px;">
		<em class="">&copy;2018</em>
	</div>
	<div class="layui-col-md9" style="padding: 20px;">
		<em class=""> 本程序尚在试用阶段，若要使用完整版，请联系管理员</em>
	</div>
</div>
</body>
</html>
<style>
.layui_footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.pageTitleTop {
    font-family: 微软雅黑;
    font-size: 14px;
    background: #18896d;
    color: #FFF;
    line-height: 22px;
    padding: 5px 18px;
}
.fright {
    float: right;
}
.funcdiv{
	background: #F7F7F7; 
	padding: 3px 10px 4px 10px;	
	float:right;
}
.funcbutton{
	background: #069;
	padding: 2px 5px ;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	color: #FFF;
	font-size: 14px;
	border: 0px solid #333;
	cursor: pointer;
	margin:0px 5px;
	height:auto;
	line-height:19px;
	width:70px;
	overflow: hidden;
}
//设置弹出框样式
.layui-layer-demo{
	background:balck;
}

.searchTopbuttom {
    background: #99cf06 url(/static/recruit/images/searchb.png) 5px 50% no-repeat;
    height: 24px;
    width: 24px;
    color: #333;
    cursor: pointer;
    border: 0;
}
.searchTop {
    padding: 0px 10px;
}

.searchTopinput {
    padding: 2px;
    font-family: 微软雅黑, Verdana, Geneva, sans-serif;
    font-size: 12px;
    border: 2px solid #99cf06;
}
</style>
