{include file='index/header'}
<!-- <div class='czzy'> -->
<!-- 	<h1>欢迎访问森马新资产管理平台</h1> -->
<!-- 	<h1>操作指引</h1> -->
<!-- 	<h2>欢迎使用Eagle移动招聘平台</h2> -->
<!-- 	<h3>你现在看到的是前端管理页面(管理移动端的招聘岗位，处理移动端提交的应聘信息)</h3> -->
<!-- 	<h3> -->
<!-- 		后端管理（管理前端展示菜单，访问人员权限）请移步<a href='/admin'>后端管理</a> -->
<!-- 	</h3> -->
<!-- 	<h2>手机端操作指南</h2> -->
<!-- 	<h3>用手机打开链接填写简历  <a href='/recruit/index/mycenter'>手机链接</a></h3> -->
<!-- 	<h3>也可通过扫描下列二维码进入简历填写</h3> -->
<!-- 	<h3><img src="/static/recruit/images/mobilelogin.png"></h3> -->
	
<!-- </div> -->
{include file='index/footer'}

<style>
.czzy{
	margin:10px;
	text-align:center;
	padding:10px;
	color:green;
	background:lightblue;
}
h1, h2, h3{
	margin-bottom:10px;
}

a:link {color: #ff0000}
a:visited {color: #0000ff}
a:hover {color: #ffcc00}

</style>
