<script type="text/javascript">
function confirminfo(id){
	datingtime = $("#datingtime").val();
	datingplace = $("#datingplace").val();
	contactname = $("#contactname").val();
	contactphone = $("#contactphone").val();
	employeename = $("#employeename").val();
	employeephone = $("#employeephone").val();
	$.ajax({
			type: "POST",
			url: "index/index/sendnotification",
			data: "id="+id+"&datingtime="+datingtime+"&datingplace="+datingplace+"&contactname="+contactname+"&contactphone="+contactphone+"&employeename="+employeename+"&employeephone="+employeephone,
			success: function(msg){
// 				alert(msg);
				if(msg==1){
			    	hiOverAlert('通知"'+employeename+'"面试成功，面试时间为：' +datingtime);
			    	closed();
				}else{
					hiAlert(msg);
				}
			}
	});
}
</script>
<fieldset class="layui-elem-field layui-field-title"
	style="margin-top: 20px;">
	<legend>欢迎入职</legend>
</fieldset>
<form class="layui-form" method="post" id="prejoinform" action="staffjoinconfirm">
	<div class="layui-inline">
		<label class="layui-form-label">人员姓名</label>
		<div class="layui-inline">
			<input type="text" name="cname" id="cname"
				placeholder="请输入姓名" autocomplete="off" class="layui-input"
				value="{$staff->cname}">
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">工号</label>
		<div class="layui-input-inline">
			<input type="text" name="jobnumber" id="jobnumber"
				placeholder="请输入工号" autocomplete="off" class="layui-input"
				value="{$staff->jobnumber}">
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">卡号</label>
		<div class="layui-input-inline">
			<input type="text" name="cardno" id="cardno"
				placeholder="请输入卡号" autocomplete="off" class="layui-input"
				value="">
		</div>
	</div>
<div class="layui-btn-container" style="margin-left: 30%;margin-top:20px;">
	<button class="layui-btn" type="submit">确定</button>
	<button class="layui-btn" onclick="$('.layui-layer-demo').hide();$('.layui-layer-shade').hide();"
		style="margin-left: 18px;">取消</button>
</div>
</form>
<style>
.layui-form-label {
	width: 100px;
	margin-top: 20px;
}

.layui-input,.layui-textarea {
	margin-top: 20px;
}
</style>