
<style>
table {
	font-size: 14px;
}
</style>
<table class="layui-hide" id="standard" lay-filter="demo"></table>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="audition">通知面试</a>
  <a class="layui-btn layui-btn-xs" lay-event="offer">OFFER提示</a>
  <a class="layui-btn layui-btn-xs" lay-event="attachment">附件下载</a>
  <a class="layui-btn layui-btn-xs" lay-event="checkname">检查登陆名</a>
  <a class="layui-btn layui-btn-xs" lay-event="prejoin">待入职</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
layui.config({
  version: '1520760931738' //为了更新 js 缓存，可忽略
});
 
layui.use(['layer', 'table'], function(){
  var layer = layui.layer //弹层
  ,table = layui.table //表格
  
  //执行一个 table 实例
  table.render({
    elem: '#standard'
    ,height: 475
    ,url: '{$dataurl}' //数据接口
    ,page: true //开启分页
    ,cols: [{$columns}]
  });
  
  //监听工具条
  table.on('tool(demo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    telnumber = data.telnumber;
    name = data.name;
    id = data.id;
    if(layEvent === 'detail'){
    	window.open('/index/index/resumeprint/');
    } else if(layEvent === 'audition'){
		id = data.id;
		$.ajax({
			type: "POST",
			url: '/index/index/staffcontactinfo',
			data:"id="+id,
			cache:false,
			success: function(msg){ 
				 //页面层
                layer.open({
                    title: '通知面试',
                    type: 1,
                    skin: 'layui-layer-demo', //加上边框
//                     area: ['375px', '240px'], //宽高
                    anim: 2,
//					  shadeClose: true, //开启遮罩关闭
                    content: msg
                });
			},
			error:function(){
				alert("出错啦，刷新试试，如果一直出现，可以联系开发人员解决");
			}
		});
    } else if(layEvent === 'attachment'){
		logrequest =$.ajax(
				{
		            type: "POST",
					url:"/index/index/attdownload",
					data:"telnumber="+telnumber,
					async:false
					}
				);
		var result = logrequest.responseText;
		if(result==0){
			alert('该用户还未上传相关附件，无法下载！');
		}
		else{
			window.location= result;
		}
    } else if(layEvent === 'prejoin'){
		//询问框
		layer.confirm('确认将 '+name+' 调为待入职人员吗？', {
		  btn: ['确定','取消'] //按钮
		}, function(){
            $.ajax({
	               type: "POST",
	               url: "/index/index/memberprejoin",
	               data:'id='+id,
	               success:function(msg){
	                   if(msg){
	             		  layer.msg('操作成功', {
	             			    time: 500, //20s后自动关闭
	             			  });
	             		  obj.del();
	                   }else{
	                   }
	               }	   
	           });
		}, function(){
		  layer.msg('操作已取消', {
		    time: 500, //20s后自动关闭
		  });
		});
    } else if(layEvent === 'edit'){
        $.ajax({
            type: "POST",
            url: "/index/index/potentialmembersmodify" ,
            data:'telnumber='+telnumber,
            success:function(msg){
                if(msg){
							 //页面层
			                layer.open({
			                    title: '编辑用户',
			                    type: 1,
			                    skin: 'layui-layer-demo', //加上边框
//			                     area: ['375px', '240px'], //宽高
			                    anim: 2,
//								  shadeClose: true, //开启遮罩关闭
			                    content: msg
			                });
                }
            }	   
        });
    } else if(layEvent === 'del'){
		//询问框
		layer.confirm('确认删除 '+name+' 的记录吗？', {
		  btn: ['确定','取消'] //按钮
		}, function(){
            $.ajax({
	               type: "POST",
	               url: "/index/index/delpotentialmember",
	               data:'telnumber='+telnumber,
	               success:function(msg){
	                   if(msg){
	             		  layer.msg('操作成功', {
	             			    time: 500, //20s后自动关闭
	             			  });
		                   obj.del();
	                   }else{
	                   }
	               }	   
	           });
		}, function(){
		  layer.msg('操作已取消', {
		    time: 500, //20s后自动关闭
		  });
		});
    } else if(layEvent === 'offer'){
		//询问框
		layer.confirm('确认已发送OFFER给 '+name+' 吗？', {
		  btn: ['确定','取消'] //按钮
		}, function(){
            $.ajax({
	               type: "POST",
	               url: "/index/index/checkoffer",
	               data:'telnumber='+telnumber,
	               success:function(msg){
	                   if(msg){
	             		  layer.msg('操作成功', {
	             			    time: 500, //20s后自动关闭
	             			  });
	                   }else{
	                   }
	               }	   
	           });
		}, function(){
		  layer.msg('操作已取消', {
		    time: 500, //20s后自动关闭
		  });
		});
    }
  });});
  </script>